*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryfont: 'Ubuntu', sans-serif;
  --secondaryfont: 'Spline', sans-serif;
  --backgroundcolor: rgb(244, 247, 197);
  --primarycolor: #11324D;
  --secondarycolor: #191919;
  --outlinecolor: rgb(170, 205, 190);
  --neutralwhite: #FAFAFA;
  --accent: #E7E0C9;
  --margin: 0 1em;
  --padding: 1.2em 1em;
  --line-height: calc(0.8em * 1.5)
}

h1, h2, h3, h4 {
  font-family: var(--primaryfont);
}

h3 {
  font-size: 1em;
}

p, li, input, label {
  font-family: var(--secondaryfont);
  font-size: 1em;
}

ul {
  list-style: none;
}

.card-setup {
  border: 1px solid var(--outlinecolor);
  border-radius: 4px;
  padding: 1em 1.2em;
}

/* Main body styles */
/* Header styles */
header {
  /* display: flex;
  flex-direction: row; */
  align-items: center;
  padding-top: 1em;
  gap: 1em;
  background: var(--accent);
  /* position: fixed;
  width: 100vw;
  top: 0;
  left: 0; */
}

nav ul {
  /* display: flex;
  flex-flow: row wrap; */
}

nav li {
  margin-top: 1em;
}

nav li a {
  color: inherit;
  text-decoration: none;
}

/* Banner styles */
.banner {
  padding: 1.2em 1em;
  text-align: center;
  background-color: var(--backgroundcolor);
}

.banner>* {
  margin-bottom: 1em;
}

.header-text {
  /* font-weight: 500; */
  color: var(--primarycolor);
}

p.description, label[for='email'] {
  color: var(--secondarycolor);
  font-size: 0.9em;
}

p.description {
  line-height: var(--line-height);
}

form input#email {
  border: none;
  border-bottom: 1px solid;
  margin: 1em 0;
  padding: 0.4em 0.8em;
}

form input#email:active, form input#email:focus {
  background: linear-gradient(to bottom, #fff, var(--backgroundcolor));
  border-bottom: var(--primarycolor);
  outline: none;
}

input[type='submit'] {
  padding: 0.4em 0.8em;
  background-color: var(--primarycolor);
  color: #fff;
  border: none;
  border-radius: 0.2em;
}

input[type='submit']:hover {
  background-color: var(--backgroundcolor);
  color: var(--primarycolor);
  box-shadow: 0px 2px 6px var(--secondarycolor);
}

/* body content styles */
section#about, section#features, section#services {
  padding: var(--padding);
  text-align: center;
  margin: 1.2em auto 0;
  max-width: 700px;
}

#about h2, #features h2, #services h2 {
  color: var(--primarycolor);
  margin-bottom: 1em;
}

#about h2:hover, #features h2:hover, #services h2:hover {
  border-bottom: 1px solid;
  transition: border 2s ease;
}

#about p {
  --line-height: calc(1em * 1.5);
  line-height: var(--line-height);
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: row;
  grid-gap: 1em;
  justify-items: center;
}

.grid1 div {
  max-width: 220px;
  height: 120px;
}

.video-embed {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.video-embed video {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row;
  grid-gap: 1em;
}

.services {
  height: auto;
  background: var(--neutralwhite);
  border: 1px solid var(--outlinecolor);
  border-radius: 4px;
}

.card-title {
  background: #f4f7c5;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 4px;
}

.services p {
  margin: 0.7em 0;
}

.services ul {
  color: var(--secondarycolor);
  font-size: 0.8em;
  text-align: left;
  padding: 1em 1.2em;
}

.services ul li {
  margin-bottom: calc(0.7em * 1.5);
}

.services:hover {
  box-shadow: 2px 2px 8px rgba(17, 50, 77, 0.5);
}

#footer {
  text-align: center;
  padding: var(--padding);
  background: var(--accent)
}

#footer .contact-us form {
  text-align: left;
}

#textarea {
  margin: 1em auto;
  width: 100%;
  max-width: 300px;
}

#footer p {
  color: grey;
  margin-top: 1em;
}

/* Responsive media styles */
@media screen and (min-width: 365px) and (max-width: 520px) {
  .feature-3 {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 464px) and (max-width: 680px) {
  .service-3 {
    grid-column: 1/4;
  }

  .service-3 ul {
    display: inline-block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 760px) {
  .description {
    width: 45vw;
    margin: 0 auto 1.2em;
  }
}