/* Global/General style declarations */
*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primaryfont: 'Merriweather', serif;
  --secondaryfont: 'Spline', sans-serif;
  --backgroundcolor: rgb(244, 247, 197);
  --primarycolor: #11324D;
  --secondarycolor: rgb(40, 40, 40);
  --outlinecolor: rgb(170, 205, 190);
  --neutralwhite: #FAFAFA;
  --accent: #E7E0C9;
  --margin: 0 1em;
  --padding: 1.2em 1em;
  --line-height: calc(0.8em * 1.5)
}

h1, h2, h3, h4 {
  font-family: var(--primaryfont);
}

h3 {
  font-size: 1em;
}

h3, h4, .card-title p {
  color: var(--secondarycolor);
}

p, li, input, label {
  font-family: var(--secondaryfont);
  font-size: 1em;
}

ul {
  list-style: none;
}

/* Atomic classes */
.card-setup {
  border: 1px solid var(--outlinecolor);
  border-radius: 4px;
  padding: 1em 1.2em;
}

/* Body Content styles

 */
/* Header styles */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em 0;
  gap: 0.5em;
  background: var(--accent);
  position: sticky;
  top: 0;
  z-index: 555;
  width: 100vw;
  height: 50px;
  overflow-y: hidden;
  transition: 1s ease;
}

header:hover {
  height: 180px;
}

nav ul {
  text-align: center;
}

nav li {
  margin-top: 1em;
}

nav li a {
  color: inherit;
  text-decoration: none;
}

nav li a:hover,
nav li a:active {
  color: var(--neutralwhite);
  text-decoration: underline;
}

/* Main styles

 */
/* Banner styles */
.banner {
  padding: 1.8em 2em;
  text-align: center;
  background-color: var(--backgroundcolor);
}

.banner>* {
  margin-bottom: 1em;
}

.header-text {
  font-weight: 700;
  color: var(--primarycolor);
}

p.description, label[for='email'] {
  color: var(--secondarycolor);
  font-size: 0.9em;
}

p.description {
  line-height: var(--line-height);
}

form input#email {
  border: none;
  border-bottom: 1px solid;
  margin: 1em 0;
  padding: 0.4em 0.8em;
  width: clamp(280px, 3vw, 700px);
}

form input#email:active, form input#email:focus {
  background: linear-gradient(to bottom, #fff, var(--backgroundcolor));
  border: 1px solid var(--primarycolor);
  outline: none;
}

input[type='submit'] {
  padding: 0.4em 0.8em;
  background-color: var(--primarycolor);
  color: #fff;
  border: none;
  border-radius: 0.2em;
}

input[type='submit']:hover {
  background-color: var(--backgroundcolor);
  color: var(--primarycolor);
  box-shadow: 0px 2px 6px var(--secondarycolor);
}

section#about, section#features, section#services {
  padding: var(--padding);
  text-align: center;
  margin: 1.2em auto 0;
  max-width: 700px;
}

#about h2, #features h2, #services h2 {
  color: var(--primarycolor);
  margin-bottom: 1em;
}

#about h2:hover, #features h2:hover, #services h2:hover {
  border-bottom: 1px solid;
  transition: border 2s ease;
}

#about p {
  --line-height: calc(1em * 1.5);
  line-height: var(--line-height);
}

.grid1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-flow: row;
  grid-gap: 1em;
  justify-items: center;
}

.grid1 div {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  height: 170px;
}

.grid1 div h3 {
  flex-grow: 1;
}

.grid1 div i {
  font-size: 2em;
  color: var(--secondarycolor);
  margin-top: 1.2em;
}

.video-embed {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 2em 0;
}

.video-embed video {
  max-width: 100%;
  height: auto;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: row;
  grid-gap: 1em;
}

.services {
  display: flex;
  flex-flow: column;
  height: auto;
  padding-bottom: 1em;
  background: var(--neutralwhite);
  border: 1px solid var(--outlinecolor);
  border-radius: 4px;
}

.card-title {
  background: #f4f7c5;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 4px;
}

.services p {
  margin: 0.7em 0;
}

.services ul {
  color: var(--secondarycolor);
  font-size: 0.8em;
  text-align: left;
  padding: 1em 1.2em;
  flex-grow: 1;
}

.services ul li {
  margin-bottom: calc(0.7em * 1.5);
}

.services:hover {
  box-shadow: 2px 2px 8px rgba(17, 50, 77, 0.5);
}

.services-button {
  width: 100px;
  padding: 0.5em 1em;
  background-color: var(--primarycolor);
  color: var(--neutralwhite);
  border: none;
  align-self: center;
}

#footer {
  text-align: center;
  padding: var(--padding);
  background: var(--accent)
}

#footer .contact-us form {
  text-align: left;
}

#textarea {
  --padding: 0.8em 1.2em;
  margin: 1em auto;
  width: 100%;
  max-width: 300px;
  padding: var(--padding);
}

#footer p {
  color: grey;
  margin-top: 1em;
}

.sm-icons {
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  max-width: 60px;
}

.sm-icons a {
  color: var(--secondarycolor);
  text-decoration: none;
}

/* Responsive media styles */
@media screen and (min-width: 365px) and (max-width: 531px) {
  .feature-3 {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 464px) and (max-width: 680px) {
  .service-3 {
    grid-column: 1/4;
  }

  .service-3 ul {
    display: inline-block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 760px) {
  .description {
    width: 45vw;
    margin: 0 auto 1.2em;
  }

  footer#footer {
    padding: 2em 150px;
  }
}