* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('images/priscilla-du-preez-nF8xhLMmg0c-unsplash.jpg') no-repeat center;
  background-size: cover;
}

main {
  background: linear-gradient(35deg, rgba(254, 210, 170, 0.8), rgba(255, 191, 134, 0.5));
  padding: 2em 0;
  text-align: center;
}

#title, #description {
  margin: 0 auto;
  width: 75vw;
}

#title {
  font-family: 'Inter'sans-serif;
  font-size: 1.5em;
  margin-bottom: 0.2em;
  color: #161616;
}

#description {
  font-size: 0.8em;
  font-style: italic;
  opacity: 0.8;
}

#description, form, textarea {
  font-family: 'Poppins', sans-serif;
  color: #152D35;
}

form {
  width: 80vw;
  background: linear-gradient(45deg, rgba(206, 229, 208, 0.7), rgba(85, 124, 85, 0.8));
  padding: 1em;
  margin: 2em auto;
  text-align: left;
  line-height: 1.5;
}

#name, #email, #number, #dropdown {
  height: 2.5em;
  border: 1px solid rgba(206, 229, 208, 0.7);
  border-radius: 7px;
  padding: 0 1em;
}

#name, #email, #number, #dropdown, textarea {
  width: 100%;
}

input, select, textarea {
  margin-top: 1em;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  background: rgba(249, 243, 223, 1);
  border: none;
}

/* input, select, textarea:active */
textarea {
  border: 1px solid rgba(206, 229, 208, 0.7);
  border-radius: 7px;
  padding: 1em 1em;
}

fieldset {
  border: none;
}

button {
  padding: 1em 2em;
  border: 1px solid;
  border-radius: 7px;
  background-color: #152D35;
  color: #F2FFE9;
}