* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('images/priscilla-du-preez-nF8xhLMmg0c-unsplash.jpg') no-repeat center;
  background-size: cover;
}

main {
  background: linear-gradient(35deg, rgba(254, 210, 170, 0.8), rgba(255, 191, 134, 0.5));
  padding: 2em 0;
  text-align: center;
}

#title, #description {
  margin: 0 auto;
  width: 75vw;
}

#title {
  font-family: 'Inter'sans-serif;
  font-size: 1.8em;
  margin-bottom: 0.2em;
  color: #161616;
  animation-delay: 15ms;
}

#description {
  font-size: 1em;
  font-weight: normal;
  opacity: 0.8;
  animation-delay: 25ms;
}

#description, form, textarea, select, .tooltip {
  font-family: 'Poppins', sans-serif;
  color: #152D35;
}

form {
  width: 80vw;
  background: linear-gradient(45deg, rgba(206, 229, 208, 0.7), rgba(85, 124, 85, 0.8));
  padding: 1em;
  margin: 2em auto;
  text-align: left;
  line-height: 1.5;
  animation-delay: 50ms;
}

.translate {
  transform: translateX(-10000px);
  animation-name: translate;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes translate {
  0% {
    transform: translateX(-1000px);
  }

  100% {
    transform: translateX(0px);
  }
}

#name, #email, #number, #dropdown {
  height: 2.5em;
  border: 1px solid rgba(206, 229, 208, 0.7);
  border-radius: 7px;
  padding: 0 1em;
}

#name, #email, #number, #dropdown, textarea {
  width: 100%;
}

input, select, textarea {
  margin-top: 1em;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  background: rgba(249, 243, 223, 1);
  border: none;
}

/* input, select, textarea:active */
textarea {
  border: 1px solid rgba(206, 229, 208, 0.7);
  border-radius: 7px;
  padding: 1em 1em;
}

fieldset {
  border: none;
}

button {
  padding: 1em 2em;
  border: none;
  border-radius: 7px;
  background-color: #152D35;
  color: #F2FFE9;
}

.tooltip {
  width: 10em;
  padding: 1.2em 1.5em;
  position: relative;
  font-size: 0.8em;
  left: 8em;
  bottom: 5em;
  background: rgba(249, 243, 223, .9);
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.tooltip::after {
  content: " ";
  position: absolute;
  right: 100%;
  top: 35%;
  border: 5px solid;
  border-color: transparent rgba(249, 243, 223, .9) transparent transparent;
}

.tip-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* Responsive styles */
@media screen and (min-width: 650px) {
  form {
    width: 65vw;
    margin: 2em 2.5em;
  }

  #title {
    font-family: 'Inter'sans-serif;
    font-size: 2em;
  }

  #description {
    font-size: 1.2em;
  }

  .tooltip {
    width: 35em;
    bottom: 4em;
  }
}